---
layout: default
---

<div class="home">
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <br/>
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta" style="color: #565656 !important;">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title | escape }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {{ post.excerpt }}
        <a href="{{ post.url | relative_url }}" title="Read more">Read more...</a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
